@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("../font/X6XYTKIVDUW7GZTZPZNN4EUM5KH54KHF.woff2") format("woff2"),
  url("../font/X6XYTKIVDUW7GZTZPZNN4EUM5KH54KHF.woff") format("woff"),
  url("../font/X6XYTKIVDUW7GZTZPZNN4EUM5KH54KHF.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
/* Clash Display */
@font-face {
  font-family: "Clash Display";
  src: url("../font/BSY64LPTT3OPLVKAZKL3AHKRWZ3D74AC.woff2") format("woff2"), 
  url("../font/BSY64LPTT3OPLVKAZKL3AHKRWZ3D74AC.woff") format("woff"), 
  url("../font/BSY64LPTT3OPLVKAZKL3AHKRWZ3D74AC.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Clash Display";
  src: url("../font/JTSL5QESUXATU47LCPUNHZQBDDIWDOSW.woff2") format("woff2"), 
  url("../font/JTSL5QESUXATU47LCPUNHZQBDDIWDOSW.woff") format("woff"), 
  url("../font/JTSL5QESUXATU47LCPUNHZQBDDIWDOSW.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

:root {
  --background: #f9f9f9;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --darkBlue: #2804F6;
  --lightBlue: #274EE9;
  --cream: #F3F0D0;
}

body {
  color: rgb(var(--background));
  background: var(--background);
  line-height: normal;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background: var(--darkBlue);
}

::-webkit-scrollbar-track {
  background: var(--background);
}

h1, h2, h3 {
  font-family: "Clash Display", sans-serif;
  font-style: normal;
  font-weight: 800 !important;
}

p, b{
  font-family: "Satoshi";
  font-style: normal;
  line-height: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}